!!!
%html
  %head
    %title Web
    = favicon
  %body
    %header
      %h1= link_to 'Rover', routes.root_path
      %nav
        %ul
          - if current_user?
            %li= link_to 'Logout', routes.logout_path
          - else
            %li= link_to 'Join', routes.new_user_path
            %li= link_to 'Login', routes.login_path

    %main
      = yield
